<!-- DOMAINS START -->
<div class="domains-section">
    <div class="container">
        <h1 class="domains-title">Domains</h1>
        <div class="row">
            <div class="col s8 offset-s2 m5 bg-blue round-divs">
                <h3 class="domains-type">Business</h3>
            </div>
            <div class="col s8 offset-s2 m5 offset-m2 bg-red round-divs">
                <h3 class="domains-type">Technical</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2 m5 bg-yellow round-divs">
                <h3 class="domains-type">Public Relations</h3>
            </div>
            <div class="col s8 offset-s2 m5 offset-m2 bg-green round-divs">
                <h3 class="domains-type">Creatives and Photography</h3>
            </div>
        </div>
    </div>
</div>
<!-- DOMAINS END -->