<!-- LANDING START -->
<div id="Home" class="header-section scrollspy">
    <div class="brand container">
        <div class="row">
            <div class="brand text-center">
                <h1 class="caption-title">Google DSC @ Berkeley</h1>
                <h2 class="caption-subtitle">Developer Student Club | Powered By Google Developers</h2>
                <code class="hashtag">#developerstudentclubs</code>&nbsp;&nbsp;
                <code class="hashtag">#googlestudents</code>&nbsp;&nbsp;
                <code class="hashtag">#growwithgoogle</code>&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</div>
<!-- LANDING END -->