<!-- GALLERY START -->
<div id="Gallery" class="gallery-section scrollspy">
    <div class="container carousel-container">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <img src="../images/events/3.jpg">
            </div>
            <div class="item">
                <img src="../images/events/4.jpg">
            </div>
            <div class="item">
                <img src="../images/events/5.jpg">
            </div>
            <div class="item">
                <img src="../images/events/6.jpg">
            </div>
            <div class="item">
                <div class="what-we-do-description"></div><iframe style width="100%" height="700px" src="https://www.youtube.com/embed/2Go1ok0Xagk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</div>
<!-- GALLERY END -->