<!-- WHAT WE DO START -->
<div class="what-we-do-section">
    <div class="container">
        <h1 class="what-we-do-title">What we do?</h1>
        <h3 class="what-we-do-description">Google Developer Clubs can take many forms - from just a few people
            getting together to watch some
            videos, to large gatherings with demos, tech talks, hackathons and conferences. We work on various
            technical domains and try to make use of Google Technologies to empower the audience around us.
        </h3>
        <br>
        <h4 class="what-we-do-description">To appreciate the past achievements of the DSC Berkeley, check out CoronAI - a project built at UC Berkeley that was among the 10 winner of annual <a href="https://developers.google.com/community/dsc-solution-challenge">DSC Solution Challenge</a> in 2020!</h4>


<!--        <div class="what-we-do-description"></div><iframe style width="100%" height="700px" src="https://www.youtube.com/embed/2Go1ok0Xagk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>-->
</div>

</div>
<!-- WHAT WE DO END -->