<footer class="footer-section">
    <div class="container">
        <!-- <div class="row footer-social-media-title">
            <h2 class="social-media-title">Follow us on</h2>
        </div> -->
        <div class="row">
            <div class="row">
                <h2 class="social-media-title text-gray">Get in touch with us!</h2>
                <div class="footer-social-media">
                    <a class="email" target="_blank" href="mailto:atkachuk@berkeley.edu"><i class="fas fa-envelope"></i></a>
                    <a class="github" target="_blank" href="https://github.com/dsc-berkeley"><i class="fab fa-github"></i></a>
                    <a class="facebook" target="_blank" href="https://www.facebook.com/gdscberkeley"><i class="fab fa-facebook"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/DSC_Berkeley"><i class="fab fa-twitter"></i></a>
                    <a class="discord" target="_blank" href="https://discord.gg/cx83c5n5re"><i class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <br>
            <br>
            <h5 class="text-gray footer-title">Google DSC @ Berkeley</h5>
            <h6>Powered by Google Developers</h6>
            <p class="text-gray footer-location">University of California, Berkeley
                <br>Berkeley, CA 94720, United States
            </p>
        </div>
    </div>

    <div class="footer-copyright text-gray">
        <div class="container">
            <h6>Made with&nbsp;<i class="fas fa-heart footer-love"></i>&nbsp;and <i
                        class="fas fa-code footer-code"></i></h3>
        </div>
    </div>
</footer>

<script src='../js/index.js'></script>
<script src='../js/particles.js'></script>
<script src="../libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>