<!-- SIDENAV START -->
<ul class="sidenav" id="mobile-nav">
    <li><a class="menu-items" href="/#AboutUs">About</a></li>
    <li><a class="menu-items" href="/team">Team</a></li>
    <li><a class="menu-items" href="/#Gallery">Gallery</a></li>
    <li><a class="menu-items" href="https://www.facebook.com/gdscberkeley">Events</a></li>
    <li><a class="menu-items" href="/join">Join</a></li>
    <li><a class="menu-items" href="/officer">Officer app</a></li>
    <li><a class="menu-items" href="/#Contact">Contact</a></li>
</ul>
<!-- SIDENAV END -->