<!DOCTYPE html>
<html>

    <!-- HEADER BEGIN -->
    <head>
        <%- include('includes/head.ejs'); -%>
        <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    </head>
    <!-- HEADER END -->

    <body>

        <!-- PRELOADER START -->
        <div class="preloader-background">
            <div class="loading">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
            <div class="blinking">
                <p>Loading</p>
            </div>
        </div>
        <!-- PRELOADER END -->

        <!-- NAVBAR START -->
        <%- include('includes/navbar.ejs'); -%>
        <!-- NAVBAR END -->

        <!-- SIDENAV START -->
        <%- include('includes/sidenav.ejs'); -%>
        <!-- SIDENAV END -->

        <!-- LANDING START -->
        <div id="Home" class="header-section scrollspy">
            <div class="brand container">
                <div class="row">
                    <div class="brand text-center">
                        <h1 class="caption-title">Google DSC @ Berkeley</h1>
                        <h2 class="caption-subtitle">Developer Student Club | Powered By Google Developers</h2>
                        <code class="hashtag">#developerstudentclubs</code>&nbsp;&nbsp;
                        <code class="hashtag">#googlestudents</code>&nbsp;&nbsp;
                        <code class="hashtag">#growwithgoogle</code>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div id="particles-js"></div>
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        </div>
        <!-- LANDING END -->

        <!-- CONTENT START -->
        <div class="main">

            <!-- ABOUT US START -->
            <div id="AboutUs" class="about-section scrollspy">
                <div class="row about-section-flex">
                    <div class="col s10 offset-s1 m10 offset-m1 l5">
                        <div class="about-text-area">
                            <h2 class="about-title text-white">About DSC</h2>
                            <h4 class="description text-white">Developer Student Clubs are university based community groups
                                for students interested in Google developer technologies. Students from all undergraduate or
                                graduate programs with an interest in growing as a developer are welcome. By joining a DSC,
                                students grow their knowledge in a peer-to-peer learning environment and build solutions for
                                local businesses and their community.
                            </h4>
                            <a class="waves-effect waves-light btn-large about-learn-more"
                                href="https://developers.google.com/community/dsc/">Learn More about DSC</a>
                        </div>
                    </div>
                    <div class="col hide-on-small-only l7 about-section-img" style="overflow:hidden">
                    </div>
                </div>
            </div>
            <!-- ABOUT US END -->

            <!-- WHAT WE DO START -->
            <div class="what-we-do-section">
                <div class="container">
                    <h1 class="what-we-do-title">What we do?</h1>
                    <h3 class="what-we-do-description">Google Developer Clubs can take many forms - from just a few people
                        getting together to watch some
                        videos, to large gatherings with demos, tech talks, hackathons and conferences. We work on various
                        technical domains and try to make use of Google Technologies to empower the audience around us.
                    </h3>
                    <br>
                    <h4 class="what-we-do-description">To appreciate the past achievements of the DSC Berkeley, check out CoronAI - a project built at UC Berkeley that was among the 10 winner of annual <a href="https://developers.google.com/community/dsc-solution-challenge">DSC Solution Challenge</a> in 2020!</h4>

                    <div class="what-we-do-description"></div><iframe style width="100%" height="700px" src="https://www.youtube.com/embed/2Go1ok0Xagk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                </div>

            </div>
            <!-- WHAT WE DO END -->

            <!-- DOMAINS START -->
            <div class="domains-section">
                <div class="container">
                    <h1 class="domains-title">Domains</h1>
                    <div class="row">
                        <div class="col s8 offset-s2 m5 bg-blue round-divs">
                            <h3 class="domains-type">Business</h3>
                        </div>
                        <div class="col s8 offset-s2 m5 offset-m2 bg-red round-divs">
                            <h3 class="domains-type">Technical</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2 m5 bg-yellow round-divs">
                            <h3 class="domains-type">Public Relations</h3>
                        </div>
                        <div class="col s8 offset-s2 m5 offset-m2 bg-green round-divs">
                            <h3 class="domains-type">Creatives and Photography</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DOMAINS END -->

            <!-- GALLERY START -->
            <div id="Gallery" class="gallery-section scrollspy">
                <div class="container carousel-container">
                    <div id="owl-demo" class="owl-carousel owl-theme">
<!--                        <div class="item">-->
<!--                            <img src="../images/events/1.jpg">-->
<!--                        </div>-->
                        <div class="item">
                            <img src="../images/events/3.jpg">
                        </div>
                        <div class="item">
                            <img src="../images/events/4.jpg">
                        </div>
                        <div class="item">
                            <img src="../images/events/5.jpg">
                        </div>
                        <div class="item">
                            <img src="../images/events/6.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <!-- GALLERY END -->

            <!-- CONTACT START -->
            <div id="Contact" class="join-section scrollspy">
                <div class="container">
                    <div class="contact-form"> <!-- //TODO protect by password-->
                        <iframe class="contact-form-center"
                            src="https://docs.google.com/forms/d/e/1FAIpQLSfBTlFadIIraUHWHAefrU6mzJvOCFRenNBxvAtaGSOTQiMGqA/viewform?embedded=true"
                            width="640" height="967" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
            <!-- CONTACT START -->

        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <%- include('includes/footer.ejs'); -%>
        <!-- FOOTER END -->

    </body>
</html>