<!DOCTYPE html>
<html>

<head>
    <%- include('includes/head.ejs'); -%>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/team.css'>
</head>

<body>

    <!-- PRELOADER START -->
    <div class="preloader-background">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div class="blinking">
            <p>Loading</p>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- NAVBAR START -->
    <%- include('includes/navbar.ejs'); -%>
    <!-- NAVBAR END -->

    <!-- SIDENAV START -->
    <%- include('includes/sidenav.ejs'); -%>
    <!-- SIDENAV END -->


    <!-- LANDING START -->
    <div id="Home" class="header-section scrollspy">
        <div class="landing-section">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div id="slide1" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide3" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide4" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide5" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide6" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container container">
            <h2 class="landing-title">About the team</h2>
            <p class="landing-desciption">DSC Berkeley aspires to expand its student community of passionate and fervent
                developers to encapsulate the latest
                and advanced technologies such as cloud computing, machine learning, big data, web, and app development,
                etc. through their interactive and free workshops. The students get an exceptional experience through
                the
                seminars conducted involving the industry professionals. With the cooperation of various domains such as
                Technical, Business, Creatives and Public Relations, these events are organized with
                rewarding feedbacks.</p>
        </div>
    </div>
    <!-- LANDING END -->

    <!-- CONTENT START -->
    <div class="main">

        <div id="particles-js"></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <!-- TEAM ROSTER START -->
        <div class="team-roster-section">
            <div class="container">
                <h2 class="team-roster-title center-align">Core Team [Updated this year. Now recruiting!]</h2>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="/images/profiles/artem_tkachuk.png">
                                <p class="card-title">Artem Tkachuk</p>
                                <p class="card-subtitle team-lead">Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="portfolio" href="https://artemtkachuk.me"><i class="fas fa-globe social-icons"></i></a>
                                <a id="linkedin" target="_blank" href="https://www.linkedin.com/in/artemtkachuk/"><i class="fab fa-linkedin-in social-icons"></i></a>
                                <a id="github" target="_blank" href="https://github.com/artem-tkachuk"><i class="fab fa-github social-icons"></i></a>
                                <a id="instagram" target="_blank" href="https://twitter.com/artem__tkachuk"><i class="fab fa-twitter social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Artem<i
                                        class="material-icons right">close</i></span>
                                <p>Artem is an international junior transfer student at UC Berkeley studying Computer Science. He is the second lead of Berkeley's DSC after Abby Cai.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                     src="/images/profiles/yueling_li.jpg">
                                <p class="card-title">Yueling Li</p>
                                <p class="card-subtitle team-lead">Social Media Manager</p>
                            </div>
                            <div class="card-action center-align">
<!--                                <a id="portfolio" href="https://artemtkachuk.me"><i class="fas fa-globe social-icons"></i></a>-->
                                <a id="linkedin" target="_blank" href="https://www.linkedin.com/in/artemtkachuk/"><i class="fab fa-linkedin-in social-icons"></i></a>
<!--                                <a id="github" target="_blank" href="https://github.com/artem-tkachuk"><i class="fab fa-github social-icons"></i></a>-->
<!--                                <a id="instagram" target="_blank" href="https://twitter.com/artem__tkachuk"><i class="fab fa-twitter social-icons"></i></a>-->
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Yueling<i
                                            class="material-icons right">close</i></span>
                                <p>Yueling is a freshman at UC Berkeley with an interest in Cognitive Science and History of Art. She is the social media manager.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="https://via.placeholder.com/125x125">
                                <p class="card-title">This can be you!</p>
                                <p class="card-subtitle team-lead">Position</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="link" href="/officer">Apply to become an officer!</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Beatae commodi delectus
                                    repellendus, quis pariatur eos.</p>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Unknown</p>-->
<!--                                <p class="card-subtitle creatives-lead">Photography Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Unknown</p>-->
<!--                                <p class="card-subtitle business-lead">Digital Media Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Unknown</p>-->
<!--                                <p class="card-subtitle public-relations-lead">Marketing Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="../images/profiles/ace_gabriel _figueroa.jpg">-->
<!--                                <p class="card-title">Ace Gabriel Figueroa</p>-->
<!--                                <p class="card-subtitle technical-lead">Technical Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="linkedin" href="https://www.linkedin.com/in/acegfig"><i-->
<!--                                        class="fab fa-linkedin-in social-icons"></i></a>-->
<!--                                <a id="github" href="https://github.com/AceGabrielFigueroa"><i-->
<!--                                        class="fab fa-github social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Eduardo Fisher</p>-->
<!--                                <p class="card-subtitle technical-lead">Technical Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Unknown</p>-->
<!--                                <p class="card-subtitle technical-lead">Technical Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col s12 m8 offset-m2 l4 offset-l2">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="../images/profiles/sarai_alvarez.jpg">-->
<!--                                <p class="card-title">Sarai Alvarez</p>-->
<!--                                <p class="card-subtitle creatives-lead">Community Outreach Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col s12 m8 offset-m2 l4">-->
<!--                        <div class="card white-card">-->
<!--                            <div class="card-content black-text">-->
<!--                                <img class="card-img-core-team circle z-depth-3 activator"-->
<!--                                    src="https://via.placeholder.com/125x125">-->
<!--                                <p class="card-title">Unknown</p>-->
<!--                                <p class="card-subtitle creatives-lead">Business Lead</p>-->
<!--                            </div>-->
<!--                            <div class="card-action center-align">-->
<!--                                <a id="portfolio" href="https://www.google.com/"><i-->
<!--                                        class="fas fa-globe social-icons"></i></a>-->
<!--                            </div>-->
<!--                            <div class="card-reveal">-->
<!--                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i-->
<!--                                        class="material-icons right">close</i></span>-->
<!--                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
<!--                                    Beatae commodi delectus-->
<!--                                    repellendus, quis pariatur eos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <!-- TEAM ROSTER START -->

    </div>
    <!-- CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <!-- FOOTER START -->
    <%- include('includes/footer.ejs'); -%>
    <!-- FOOTER END -->
    <!-- FOOTER END -->
</body>

</html>